<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular JS - Multi-Search Single Box</title>
    <script src="JS/angular.min.js"></script>
    <script src="JS/script.js"></script>

    <link rel="stylesheet" href="CSS/style.css">
</head>
<body  data-ng-app="MultiSearchModule">

<input type="text" placeholder="Search name & city" ng-model="searchText">

<div>
    <h3>Employee Table</h3>
</div>

<table ng-controller="MultiSearchController">

    <thead>
    <tr>
        <th>Name</th>
        <th>Gender</th>
        <th>Salary</th>
        <th>City</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="emp in employees | filter : search">
        <td>{{ emp.name }}</td>
        <td> {{ emp.gender }}</td>
        <td> {{ emp.salary }}</td>
        <td> {{ emp.city }}</td>
    </tr>
    </tbody>
</table>
</body>
</html>